<!DOCTYPE html>
  <html>
    <head>
      <title>Hello Friend!</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <h1>You've added a new task!</h1>
      <p>@Model.GetDescription()</p>
      <p><a href="/">Add another task</a></p>
      <p><a href="/task/list">View current tasks</a></p>
    </body>
  </html>
