<!DOCTYPE html>
  <html>
    <head>
      <title>Hello Friend!</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <h1>@Model.GetDescription()</h1>

      <a href='/tasks/new'>Add another task</a>
      <a href='/tasks'>View all tasks</a>
    </body>
  </html>
